*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #d3d3d3;
}

body{
    font-family: 'pricedown';
    background-image: url('gta-6-official-logo-3840x2160-13622.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

nav{
    background-color: #0f0f10;
    box-shadow: 5px 5px 10px rgba(107, 0, 161, 0.37);
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    display: flex;
    font-size: 25px;
    align-items: center;
    color: transparent;
    -webkit-text-stroke: .8px #7b24de;
}
nav a:hover{
    color: #7b24de;
    -webkit-text-stroke: .2px #fcfc30;
    background-color: #090909;
}

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #0f0f1090;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 15px rgba(80, 10, 201, 0.521);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menuBtn{
    display: none;
}
@media(max-width: 800px){
    /* max-width means 0 to 800px*/
    .hideOnMobile{
        display: none;
    }
    .menuBtn{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}